<!--<div class="container >
        <h1>Your posts</h1>
        <h1> {{post.title}}</h1>
        <p [innerHTML]="post.post"></p>
        <p>{{post.dateOf}}</p>
    
</div>-->
<div class="col-lg-12 single-content">

    <p class="mb-5">
        <img src="assets/images/big_img_1.jpg" alt="Image" class="img-fluid">
    </p>
    <div class="margin">
        <h1 class="mb-4">
            {{post.title}}
        </h1>
        <div class="post-meta d-flex mb-5">
            <div class="bio-pic mr-3">
                <img src="assets/images/person_1.jpg" alt="Image" class="img-fluidid">
            </div>
            <div class="vcard">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
            </div>
        </div>

        <div [innerHTML]="post.post"></div>


        <div class="pt-5">
            <p>Categories: <a href="#">Design</a>, <a href="#">Events</a> Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
        </div>
    </div>

</div>